body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}
.App {
    text-align: center;
  }
  
.App-header{
    display: flex;
   align-items: center;
   justify-content: center;
}
input{
    padding: 5px ;
}
.btn{
    padding: 5px;
    margin: 8px;
    color: white;
    background-color: green;
    transition: transform 0.3s, background-color 0.2s, color 0.3s;
}
.btn:hover{
    transform: scale(1.1);
    background-color: #4caf50;
    color: white;

}
/* .txt{
    
    text-align: center;
} */